.navigationWpapper {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 64px;
  width: 100%;
  background-color: #ffffff99;
  backdrop-filter: blur(64px);
  color: #313131;
  border-bottom: 1px solid #00000020;
  box-shadow: 0px 2px 4px #00000010;
}
.burgerMenu {
  display: none;
}

@media (max-width: 768px) {
  .burgerMenu {
    display: block;
  }
  .navigation {
    height: 56px;
  }
}
