.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  color: #313131;
}

.navLinks a:hover {
  color: #e62547;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
  }
}
