.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  color: #313131;
  gap: 16px;
}

.navLinks a:hover {
  color: #e62547;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
  }
}
